<!-- ====================================================================
  File: cart.hbs
  Description: Template for displaying all existing travel items from the cart
  Author: Daniel Gorelkin
  Version: 1.0
  Created: 2025-11-13
  Updated: NA

  Purpose:
    - Part of the Travlr CMS project
    - Responsible for rendering the list of all the existing items from the cart.
    - Dynamically displays cart data received from the controller
      via a JSON array passed in the rendering context.
===================================================================== -->

<!DOCTYPE html>
<html>

  <!-- Use handlebars templating to inject shared HEAD block content.
  Content is read from the head.hbs partial file. -->
  {{> head }}

  <body>
    <div id="background">

      <div id="page">

        <!-- Header block (logo, navigation, login button).
        Loaded from the header.hbs partial and shared across all project pages. -->
        {{> header }}

        <!-- The main contents block.
        Displays all travel packages using the "trips" array passed from the controller.
        Expected structure:
        trips: [{ _id: string code: String, name: String, start: Date , resort: String, 
        perPerson: Number , image: String, description: String, description_details: String }] -->
        <div id="contents">
          <div class="box">
            <div>
              <div class="body">
                <!-- Page Title -->
                <h1>Your Shopping Cart</h1>
                <h3></h3>

                <!-- Loop through each cart object and render its data.
                Each cart object includes an image, name, and description text.
                Image fallback is applied if the specified file is missing. -->
                <ul id="sites">
                  {{#if cartItems.length}}
                    <ul>
                      {{#each cartItems}}
                        <li>
                          <a href="/api/{{this.dbCollection}}/{{this.code}}">
                            <img 
                              src="images/{{this.image}}" 
                              alt="Img" 
                              onerror="this.onerror=null;this.src='images/logo.png';"
                            />
                          </a>
                          <h2>
                            <a href="/api/travel/{{this.code}}">{{this.name}}</a>
                          </h2>
                          <p>{{this.description}}</p>
                          <p>{{this.description_details}}</p>
                          <h3></h3>
                        </li>
                      {{/each}}
                    </ul>
                  {{else}}
                    <p>Your cart is empty. <a href="/travel">Start shopping now!</a>!</p>
                  {{/if}}
                </ul>

              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Footer block (external links, navigation, admin login).
      Loaded from the footer.hbs partial file. -->
      {{> footer }}

    </div>
  </body>
</html>
