<!-- ====================================================================
  File: cart.hbs
  Description: Template for displaying all existing travel items from the cart
  Author: Daniel Gorelkin
  Version: 1.0
  Created: 2025-11-13
  Updated: NA

  Purpose:
    - Part of the Travlr CMS project
    - Responsible for rendering the list of all the existing items from the cart collection.
    - Dynamically displays cart data received from the controller
      via a JSON array passed in the rendering context.
    - Functionality dynamically creates buttons to increases/decreases and remove items from 
      the database and the cart page consequently.
===================================================================== -->

<!DOCTYPE html>
<html>

  <!-- Use handlebars templating to inject shared HEAD block content.
  Content is read from the head.hbs partial file. -->
  {{> head }}

  <body>
    <div id="background">

      <div id="page">

        <!-- Header block (logo, navigation, login button).
        Loaded from the header.hbs partial and shared across all project pages. -->
        {{> header }}

        <!-- The main contents block.
        Displays all travel packages using the "trips" array passed from the controller.
        Expected structure:
        trips: [{ _id: string code: String, name: String, start: Date , resort: String, 
        perPerson: Number , image: String, description: String, description_details: String }] -->
        <div id="contents">
          <div class="box">
            <div>
              <div class="body">
                <!-- Page Title -->
                <h1>Your Shopping Cart</h1>
                <h3></h3>

                <!-- Loop through each cart object and render its data.
                Each cart object includes an image, name, and description text.
                Image fallback is applied if the specified file is missing. -->
                <ul id="sites">
                  {{#if cartItems.length}}
                    <ul>
                      {{#each cartItems}}
                        <li>
                          <a href="/api/{{this.dbCollection}}/{{this.code}}">
                            <img 
                              src="images/{{this.image}}" 
                              alt="Img" 
                              onerror="this.onerror=null;this.src='images/logo.png';"
                            />
                          </a>

                          <div class="trip-header">
                            <h2>
                              <a href="/api/travel/{{this.code}}">{{this.name}}</a>
                            </h2>

                            <!-- See public/javascripts/cart.js for handling logic and functionality -->
                            <h3 class="cart-item-controls">
                              <div>
                                <p>
                                  ${{this.rate}} x 
                                  <span class="item-quantity" data-id="{{this._id}}">{{this.quantity}}</span>

                                    <!--  Increase/decrease/remove quantity and remove functionality buttons -->
                                    <!--  Buttons trigger the EventListener in public/javascripts/updateCartItem.js -->
                                    <button 
                                      type="button" 
                                      class="btn-quantity decrease" 
                                      data-id="{{this._id}}" 
                                      aria-label="Decrease quantity"><i class="bi bi-dash-circle"></i></button>

                                    <button 
                                      type="button" 
                                      class="btn-quantity increase" 
                                      data-id="{{this._id}}" 
                                      aria-label="Increase quantity"><i class="bi bi-plus-circle"></i></button>

                                    <button 
                                      type="button" 
                                      class="btn-quantity remove" 
                                      data-id="{{this._id}}" 
                                      aria-label="Remove item"><i class="bi bi-trash"></i></button>
                                </p>
                              </div>
                            </h3>

                          </div>
                          <p>{{this.description}}</p>
                          <p>{{this.description_details}}</p>
                        </li>
                      {{/each}}
                    </ul>
                  {{else}}
                    <p>Your cart is empty. <a href="/travel">Start shopping now!</a>!</p>
                  {{/if}}
                </ul>

              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Footer block (external links, navigation, admin login).
      Loaded from the footer.hbs partial file. -->
      {{> footer }}

    </div>

    <!-- JavaScript to handle cart calculation logic -->
    <!-- Script located in public/javascripts/cart.js -->
    <script src="/javascripts/updateCartItem.js"></script>

  </body>
</html>
